input[type=button], input[type=submit], input[type=reset] {
    background-color: #4286f4;
    border: none;
    color: white;
    font-family: arial, sans-serif;
    padding: 8px 16px;
    margin: 12px 12px;
}

body{
    text-align:left;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif, italic;
    margin: 50px 400px;
}

h1 {
    color: navy;
    font-family: arial, sans-serif;
    margin-left: 20px;
}

h1 {
    color: #4286f4;
    font-family: arial, sans-serif;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    font-family: arial, sans-serif;
    padding: 5px;
}

th {
    background-color: #4286f4;
    color: white;
}

.center {
    position: absolute;
    right: 100px;
    left: 100px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.radioLeft
{
    text-align:left;
}

#projects{
    height: 100px;
    width: 250px;
    border: 2px solid red;
}

.projectButton{
    display: inline-block;
    border-radius: 4px;
    background-color: #4286f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-transform: capitalize;
}

.projectButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.logoutButton {
  position:fixed;
   right:10px;
   top:25px;
   }

.gobackButton {
   position:fixed;
   right:10px;
   top:70px;
   }

.projectButton:hover span {
    padding-right: 15px;
}

.projectButton:hover span:after {
    opacity: 1;
    right: 0;
}

.projectSpan {
    color: #FFFFFF;
}


* {
  box-sizing: border-box;
}

.boardBox {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 120px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 0 10px;
    overflow: scroll;
}

/* Float four columns side by side */
.column {
  bottom: 600px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 20%;
  max-height: 400px;
  padding: 0 10px;
  overflow: scroll;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  max-height: 200px;
  overflow: scroll;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.newcardBut {
 background-color: #555;
  color: white;
  padding: 8px 8px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius:50%;
 }

.cornBut {
 position:relative;
  right:0px;
  top:0px;
}



/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  bottom: 100px;
  right: 200px;
  left: 200px;
  top: 100px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .but {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .but_cancel {
  background-color: red;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-container .but:hover, .open-button:hover {
  opacity: 1;
}