input[type=button], input[type=submit], input[type=reset] {
    background-color: #4286f4;
    border: none;
    color: white;
    font-family: arial, sans-serif;
    padding: 8px 16px;
    margin: 12px 12px;
}

body{
    text-align:left;
    background-color: rgb(240,240,240);
    font-family: arial, sans-serif, italic;
    margin: 50px 400px;
}

h1 {
    color: navy;
    font-family: arial, sans-serif;
    margin-left: 20px;
}

h1 {
    color: #4286f4;
    font-family: arial, sans-serif;
    margin-left: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    font-family: arial, sans-serif;
    padding: 5px;
}

th {
    background-color: #4286f4;
    color: white;
}

.center {
    position: absolute;
    right: 100px;
    left: 100px;
    border: 3px solid #73AD21;
    padding: 10px;
}

.radioLeft
{
    text-align:left;
}

#projects{
    height: 100px;
    width: 250px;
    border: 2px solid red;
}

.projectButton{
    display: inline-block;
    border-radius: 4px;
    background-color: #4286f4;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 5px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-transform: capitalize;
}

.projectButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.projectButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -30px;
    transition: 0.5s;
}

.projectButton:hover span {
    padding-right: 15px;
}

.projectButton:hover span:after {
    opacity: 1;
    right: 0;
}

.projectSpan {
    color: #FFFFFF;
}